hr{
    clear: both;
}
h3{
    font-size: 1.2rem;
}
h2{
    text-align: center;
}
iframe{
    width: 100%;
    height: 600px
}
img {
    width: 100px;
    float: left;
    max-height: 12rem;
    margin: 1rem;
}
li{
    font-size: 1.2rem;
}
p{
    font-size: 1.2rem;
    line-height: 2.5rem;
}