.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin:0 auto;
    align-items: center;
    align-self: center;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
