#similar-products .react-multi-carousel-list {
    margin-bottom: 1rem;
}

#similar-products .react-multiple-carousel__arrow {
    min-width: 20px!important;
    min-height: 20px!important;
}
#similar-products .react-multiple-carousel__arrow::before {
    font-size: 10px!important;
}
#similar-products  .react-multiple-carousel__arrow--right{
    right: 1rem !important;
}
#similar-products .react-multiple-carousel__arrow--left {
    left: 1rem !important;
}



