#catalog .react-multi-carousel-list {
  margin: 0 auto;
}

#catalog .react-multi-carousel-item {
  max-width: 350px;
  margin: 24px 15px;
}

#catalog .react-multiple-carousel__arrow {
  width: 50px;
  height: 50px;
}

#catalog .react-multiple-carousel__arrow:before {
  font-size: 20px !important;
}
